<header>
  <div class="flex justify-between w-[90%] mx-auto">
    <img class="w-7 h-7" src="/assets/logo.png"  alt="logo"/>
    <h1 class="w-[60%] text-center font-bold text-[#000080] text-xs cursor-pointer">SEGURO SOCIAL UNIVERSITARIO POTOSÍ</h1>
    <img class="w-7 h-7" src="assets/img.png" alt="escudo de bolivia">
  </div>
  <nav>
    <ul class="flex gap-5">
      <li >
        <a class="text-base" routerLink="/">Inicio</a>
      </li>
      <li>
        <div class="dropdown bg-transparent">
          <div tabindex="0" role="button" class="bg-transparent m-1">Institucional</div>
          <ul tabindex="0" class="dropdown-content z-[1] p-2 bg-base-100 border w-52">
            <li class="rounded-none bg-transparent hover:bg-transparent"><a class="text-base" routerLink="intitucional/datos_generales">Datos Generales</a></li>
            <li class="rounded-none bg-transparent hover:bg-transparent"> <a class="text-base" routerLink="intitucional/situacionGeografica">Situacion Geografica</a></li>
          </ul>
        </div>
      </li>

      <li>
        <div class="dropdown bg-transparent">
          <div tabindex="0" role="button" class="bg-transparent m-1">Servicios</div>
          <ul tabindex="0" class="dropdown-content z-[1] p-2 bg-base-100 border w-52">
            <li class="rounded-none bg-transparent hover:bg-transparent"><a class="text-base" routerLink="intitucional/datos_generales">Consulta Externa</a></li>
            <li class="rounded-none bg-transparent hover:bg-transparent"> <a class="text-base" routerLink="intitucional/situacionGeografica">Laboratorio Clinico</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
