<h1 class="underline">ULTIMAS NOVEDADES Y CONSULTAS EXTERNAS</h1>
<p>Estimado usuario, le comunicamos que los enlaces para los diferentes servicios se encuentran
  <span class="underline text-red-600">A CONTINUACIÓN</span>
</p>

<div>
  <ul class="flex md:flex-row flex-col overflow-scroll gap-5">
    <li class="shrink-0 group overflow-hidden">
      <a class="relative" routerLink="/">
        <img class="group-hover:scale-150 transition duration-700 ease-in-out md:w-[100px] md:h-[100px] w-full h-full" src="assets/img_1.png">
        <div class="absolute h-full w-full top-0  right-0 z-40 bg-red-600/80" style="clip-path: polygon(50% 0%, 100% 0, 0 100%, 0% 50%);"></div>
        <div class="absolute h-full w-full top-0 -left-10 right-0 z-40 bg-blue-600/80" style="clip-path: polygon(0 0, 0% 100%, 100% 0);"></div>
        <h2 class="absolute top-0 z-50 w-full h-auto text-sky-600">
          Solvencias Para Afiliaciones
        </h2>
      </a>
    </li>
    <li class="shrink-0">
      <a routerLink="/">
        <img class="w-[100px] h-[100px]" src="assets/img_1.png">
      </a>
    </li>
    <li class="shrink-0">
      <a routerLink="/">
        <img class="w-[100px] h-[100px]" src="assets/img_1.png">
      </a>
    </li>
    <li class="shrink-0">
      <a routerLink="/">
        <img class="w-[100px] h-[100px]" src="assets/img_1.png">
      </a>
    </li>
    <li class="shrink-0">
      <a routerLink="/">
        <img class="w-[100px] h-[100px]" src="assets/img_1.png">
      </a>
    </li>
  </ul>
</div>
